{% extends "base.html" %} {%load static%}
<title>{%block title%} Submit Page {%endblock%}</title>

{%block content%}
<form action="#" method="post">
  {% csrf_token %}
  <label for="name">Name: </label><br />

  <input type="text" id="name" name="name" /><br />

  <label for="age">Age: </label><br />

  <input type="number" id="age" name="age" /><br />

  <label for="email">Email: </label><br />

  <input type="email" id="email" name="email" /><br />

  <input id="submit" type="submit" value="Get Started" class="btn" />
</form>
{%endblock content%}
